.fixed-height{
    max-height: 80vh;
}

.signup_image{
    object-fit: cover;
    width: 50vw;
    height:80vh;
    object-position: center;
}

.hide-adjacent + fieldset{
    display:none;
}

.card-img-top{
    object-fit: cover;
    height: 10rem;
}

.card-link-custom {
    color: inherit; /* Prevent the default blue color of hyperlinks */
    text-decoration: none; /* Remove underline from links */
}

.card-link-custom:hover {
    text-decoration: none; /* Remove underline on hover */
}
